ipykernel
ipywidgets
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
numpy==1.26.4
packaging
pandas
param
parso
pexpect
easydict
protobuf
tqdm
wheel
fastparquet
pymorphy2
scikit-learn==1.4.2
seaborn
nltk
httpx
plotly
mwclient
nbformat==5.10.4
loguru
black
protobuf==3.20.3

